Index Search Page

= simple_form_for :search, url: '/search' do |f|
  = f.input :type, as: :check_boxes, collection: %w(depression anxiety housing alcohol)
  = f.input :region, as: :select, collection: Region.all
  = f.submit :Search
